@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>Check the status of your order anytime texting '<span style="font-family:courier">status @Model</span>' to @System.Configuration.ConfigurationManager.AppSettings["PhoneNumber"]</p>


<p>How about shopping for some more music in our 
    @Html.ActionLink("store", "Index", "Home")
</p>
